<footer class="footer">
    <div class="container-fluid" style="height: 100px;">
        <!-- <nav class="pull-left">
            <ul>

                <li>
                    <a href="#">
                        .NET Sakura
                    </a>
                </li>
                <li>
                    <a href="#">
                       Blog
                    </a>
                </li>
                <li>
                    <a href="#">
                        Licenses
                    </a>
                </li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by <a href="#">.NET Sakura</a>
        </div> -->
    </div>
</footer>
